<router-outlet></router-outlet>

<app-counter [current]="hpCurrent" [total]="hpTotal" [name]="'HP'"></app-counter>
<app-inventory [items]="item"></app-inventory>
<app-horizontal-table [statistics]="statistic"></app-horizontal-table>
<app-vertical-table [fields]="chars" [name]="'Skills'"></app-vertical-table>
