<div>
    <table>
        <tr>
            <th colspan=2>{{name}}</th>
        </tr>
        <tr>
            <th align="center" *ngFor="let stat of statistics">{{stat.key}}</th>
        </tr>
        <tr>
            <td align="center" *ngFor="let stat of statistics">{{stat.value}}</td>
        </tr>
    </table>
</div>
