.overflow {
    overflow-y: scroll;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}

.closeDown {
    margin-bottom: 0;
    padding-bottom: 0;
}

.closeUp {
    margin-top: 0;
    padding-top: 0;
}

.fixedWidth {
    width: 20rem;
}

.twoThird {
    width: 2fr;
}

.third {
    width: 1fr;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.alignLeft {
    text-align: left;
}

.px {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ml {
    margin-left: 1rem;
}

.nom {
    margin: 0;
}

.full-width-account-for-scroll {
    width: calc(100% - 0px)
}

.border {
    border: 1px solid;
    border-collapse: collapse;
}