<div class="fixedWidth border ml">
    <table class="closeDown fixedWidth nom">
        <tr class="fixedWidth">
            <th class="fixedWidth" colspan=99>{{name}}</th>
        </tr>
        <tr class="fixedWidth">
            <th class="twoThird px">Name</th>
            <th class="third" *ngIf="weightEnabled">Weight</th>
            <th class="third">Quantity</th>
        </tr>
        <tr>

        </tr>
    </table>
    <div class="closeUp full-width overflow" [style.height.rem]="lines*2">
        <table class="closeUp nom full-width">
            <tr *ngFor="let item of this.items">
                <td class="twoThird px">{{item.name}}</td>
                <td class="third" *ngIf="weightEnabled">{{item.weight}}</td>
                <td class="third">{{item.quantity}}</td>
            </tr>
        </table>
    </div>

<!--    <div class="table closeUp fixedWidth">-->
<!--        <div class="overflow" [style.height.rem]="lines*2">-->
<!--            <div *ngFor="let item of this.items" class="tr">-->
<!--                <div colspan="2" class="td twoThird px">{{item.name}}</div>-->
<!--                <div class="td third alignRight px" *ngIf="weightEnabled">{{item.weight}}</div>-->
<!--                <div class="td twoThird alignRight px">{{item.quantity}}</div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
