body {
    background-color: #232323;
    color: #f0f0f0;
    font-family: "Open Sans", "Open Sans", sans-serif;
}
table {
    margin: 1em;
}
td, th {
    padding: 1ex;
}

.cntrTxt {
    text-align: center;
}
.center {
    width: 100%;
    margin: auto;
}
.jstfy {
    text-align: justify;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.borderless td, th {
    border: none;
}

.border td {
    border: 1px solid;
}

.con {
    border: none;
    text-align: center;
}

.field {
    text-align: center;
    width: 2em;
}

.verDiv {
    overflox-x: hidden;
    overflow-y: scroll;
    max-height: 40em;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
}

.simpleHorDiv {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    border: 1px solid;
    display: flex;
}

.horDiv {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
}

.xscroll {
    overflow-x: scroll;
    overflox-y: hidden;
    width: 100%;
    border: 1px solid;
}


.talentTree {
    padding-right: 1em;
    border: none;
    border-collapse: none;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

th.talent {
    border: 1px solid;
    margin: -1ex;
    text-align: center;
    font-weight: bold;
    border-collapse: separate;
}

td.connect {
    text-align: center;
    border: none;
}

.noneItem {
    list-style-type: none;
}

.page {
    max-width: 12cm;
    display: block;
}

.hide {
    display: none;
}

.unhideOnHover:hover + .hide {
    display: block;
    color: red;
}
