<div>
    <table>
        <tr>
            <th colspan=99>{{name}}</th>
        </tr>
        <tr *ngFor="let field of fields">
            <th>{{field.key}}</th>
            <td>{{field.value}}</td>
        </tr>
    </table>
</div>
